#Romney {
       float: left;
   }

header  {
    background: #2A5070;
    width: 100%;
    padding: 1px;
    /*margin: 10px;*/
    text-align: center;
    height: 192px;
}

h1 {
    color: linen;
}
#calculator {
    color: #2A5070;
}

#calculator {
    padding : 30px;
}
#priceBox, #widthBox, #lengthBox, #quantityBox, #areaCostBox {
    text-align: right;
}