body{
    width: 850px;

}
#Romney {
       float: left;
   }

header  {
    background: #2A5070;
    width: 100%;
    padding: 1px;
    text-align: center;
    height: 192px;
}

h1 {
    color: linen;

}



#calculator {
    color: #2A5070;
    width: 800px;
    padding : 30px;
}

#calculator {
    padding : 30px;
    width: 800px;
}
#priceBox, #widthBox, #lengthBox, #quantityBox, #areaCostBox {
    text-align: right;
    float: right;
}

#formLeft {
 float:left;
}

#formRight {
    float: right;
}
.badBox {
    background: red;
    color: white;
}